/* GENERAL */
html{
    max-width: 1440px;
    margin: 0 auto;
}

.background{
    background-color: #083B4C;
}

/* EFFECTS */
.cursor:hover{
    cursor: pointer;
}

.zoom{
    transition: 0.2s;
}

.zoom:hover{
    transform: scale(0.9);
}

/* MAIN */
.buzzContainer{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.number{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1289B2;
}

/* Classe da aggiungere ai multipli per 3 */
.squareFizz{
    background-color: #08D6A0;
}
/* Classe da aggiungere ai multipli per 5 */
.squareBuzz{
    background-color: #FFD166;
}
/* Classe da aggiungere ai multipli di entrambi */
.squareFizzBuzz{
    background-color: #F0466F;
}



